.Dashboard {
    /* font-family: 'Roboto Condensed'; */
	margin-top: 1.2em;
	background-color: #eee;
	border-radius: 3px;
}

.Dashboard .visualization-layer text {
    font-size: 0.8em;
}

.Dashboard .tick-line path {
    stroke: #aaa;
}

.Dashboard .vx-legend {
    font-size: 0.8em;
    margin-top: 1em;
}
