.Dashboard {
    font-family: 'Roboto Condensed';
}

.Dashboard .visualization-layer text {
    font-size: 0.8em;
}

.Dashboard .tick-line path {
    stroke: #aaa;
}

.Dashboard .vx-legend {
    font-size: 0.9em;
    margin-top: 1em;
}
